[submodule "playbook"]
	path = playbook
	url = git@github.com:dwarvesf/playbook.git
	branch = master
[submodule "handbook"]
	path = handbook
	url = git@github.com:dwarvesf/handbook.git
	branch = master
[submodule "playground"]
	path = playground
	url = git@github.com:dwarvesf/playground.git
	branch = master
[submodule "careers"]
	path = careers
	url = git@github.com:dwarvesf/WeAreHiring.git
	branch = master
[submodule "opensource"]
	path = opensource
	url = git@github.com:dwarvesf/opensource.git
	branch = main
[submodule "radar"]
	path = radar
	url = git@github.com:dwarvesf/radar.git
