[submodule "playbook"]
	path = playbook
	url = git@github.com:dwarvesf/playbook.git
	branch = master
[submodule "hiring"]
	path = hiring
	url = git@github.com:dwarvesf/WeAreHiring.git
	branch = master
