[submodule "playbook"]
	path = playbook
	url = https://github.com/dwarvesf/playbook.git
	branch = master
[submodule "hiring"]
	path = hiring
	url = https://github.com:dwarvesf/WeAreHiring.git
	branch = master
